.card-post {
  max-width: 320px;
  width: 100%;

  margin: 0 auto;

  list-style-type: none;

  &_color {

    &_greey {
      background-color: #3a3a3a;
    }

    &_black {
      background-color: #433b43;
    }
  }
}